font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

*{
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}
a,p,span{
	font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #FFE7E0;
}

/* header */
.header_nav{
	height: 80px;
   box-shadow: 3px 7px 50px 0px #000000;
}
.navColor{
	background: #52181A;
}
.header_nav img{
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.headerColor{
	height: 87vh;
	background: linear-gradient(to bottom, #fcecfc 0%,#FFA3BF 100%);
/* 
	background: #f7c0c0; */
	#52181A
	#FFA3BF
	#FFBAB5
	#FFE7E0
}
.modal-dialog {
	max-width: 600px;
}
.modal-body form{
	align-items: center;
}
/* header */

/* btn top */
#top{
	position: fixed;
	right: 40px;
	bottom: 30px;
	width: 30px;
	height: 30px;
	border: 1px;
	cursor: pointer;
	display: none;
}
#top img{
	width: 25px;
	height: 25px;
}
/* btn top */


/* galer */
.galer{
	width: 100%;
	height: 100vh;
}

#gallery {
	position: relative;
	padding-top: 50%;
	-moz-user-select: none; 
	user-select: none;
 }

 #gallery img {
	position: absolute;
	top: 25%;
	left: 12.5%;
	max-width: 20%;
	max-height: 40%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: zoom-in;
	transition: .2s;
 }
 #gallery img:nth-child(4n-2) {left: 37.5%;}
 #gallery img:nth-child(4n-1) {left: 62.5%;}
 #gallery img:nth-child(4n) {left: 87.5%;}
 #gallery img:nth-child(n+5) {top: 75%;}
 
 #gallery img:focus {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	max-width: 90%;
	max-height: 80%;
	outline: none;
	pointer-events: none;
 }
 #gallery img:focus ~ div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	cursor: zoom-out;
 }
/* galer */




/* form blok */

#form_message{
	display: block;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	border-radius: 5px;
	margin:0 auto;
	padding: 10px;
	width: 500px;
	height: auto;
}
#form_message input,textarea{
	border-radius: 5px;
	width: 70%;
}
#submit{
	height: 50px;
}
#form_message h2{
	text-align: center;
}
/* form blok */



/* costomer */
.customer{
	padding: 30px 0;	
	color: #fff;
}
.customerColor{
	background: linear-gradient(to bottom, #FFE7E0 0%,#7d4444 100%);
}
.Ava{
	width: 150px;
	border-radius: 50%;
	padding: 10px;
	height: 150px;
}
.row{
	text-align: center;
}
/* costomer */


/* footer */
.footerColor{
	background: #7d4444;
	color: #fff;
}
.footerRow{
	justify-content: center;
	text-decoration: none;
}
.footerItem{
	width: 20%;
	text-decoration: none !important;
	color: #fff !important;
}
/* footer */